
.blog-banner{
     /* background-image:url(../assets/image/blog-banner.jpg);
	background-repeat:no-repeat;
	background-position: bottom center; background-size: cover;*/ 
  
}
/* .blog-content h2{ border:2px solid red !important; }
.blog-content h3{ border:2px solid green !important; } */
.text-container{ padding-top:100px !important}
.ban-img{ height: 600px; object-fit: cover;}
.blog-banner h1, .blog-banner h5{ color: #fff;}

.border2{ border:2px solid red;}
.border3{ border:2px solid green;}
.dd-menu{ max-width: 560px; width: 100%;}
.dd-menu ul li:nth-child(2n+2) {
    border-left: 1px solid #ededed;
}


.primary-menu > li {width: 50%; border-bottom: 1px solid #ededed; padding: 18px;}
.primary-menu > li:nth-child(2n+2) {border-left: 1px solid #ededed;	}



.svg-icon {width: 1em;height: 1em;}
.svg-icon path,  .svg-icon polygon,  .svg-icon rect {	fill: #fff; }
.svg-icon circle {stroke: #4691f6;stroke-width: 2;}

.blog-banner h1, .blog-banner h2, .blog-banner h3{
  color:#ffffff !important
}

  .btn-blue-3:focus, .btn-blue-3.focus, .btn-blue-3:hover {border-color: #0544de;}

  .post-share{ position: fixed;	top: 140px;right:30px; width: 100px; }
  .post-share li a:hover{ background-color: #f7f7f7;}
  
.s-icon .svg-icon {width: 1em;height: 1em; font-size: 25px;; }
  
.s-icon .svg-icon path,  .svg-icon polygon,  .svg-icon rect {	fill: #000; }
  
.s-icon .svg-icon circle {	stroke: #4691f6;	stroke-width: 1;  }

@media only screen and (max-width: 600px) {
	.primary-menu > li{ width: 100%;}

}
@media only screen and (max-width: 768px) {
	.mobile-hide{ display:none; visibility:hidden;}
}


