
.blog-sidebar {
  width: 25%;
  height: 75vh !important;
  min-height: 100px;
  overflow: auto;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  align-self: flex-start;
}

.blog-inner {
  width: 60%;
  /* height: 200vh; */
  min-height: 1000px;
  display: flex;
  flex-direction: column;
}

.blog-inner,
.blog-sidebar {
  border: 5px solid #222;
  background-color: white;
  border-radius: 10px;
  color: #222;
  padding: 15px;
}

.blog-outer {
  display: flex;
  align-items: flex-start;
  /* justify-content: space-between; */
  overflow:visible;
}

.blog-banner{
  
}
.text-container{ padding-top:100px !important}
.ban-img{ height: 600px; object-fit: cover;}
.blog-banner h1, .blog-banner h5{ color: #fff;}

.border2{ border:2px solid red;}
.border3{ border:2px solid green;}
.dd-menu{ max-width: 560px; width: 100%;}
.dd-menu ul li:nth-child(2n+2) {
    border-left: 1px solid #ededed;
}


.primary-menu > li {width: 50%; border-bottom: 1px solid #ededed; padding: 18px;}
.primary-menu > li:nth-child(2n+2) {border-left: 1px solid #ededed;	}



.svg-icon {width: 1em;height: 1em;}
.svg-icon path,  .svg-icon polygon,  .svg-icon rect {	fill: #fff; }
.svg-icon circle {stroke: #4691f6;stroke-width: 2;}

.blog-banner h1, .blog-banner h2, .blog-banner h3{
  color:#ffffff !important
}

  .btn-blue-3:focus, .btn-blue-3.focus, .btn-blue-3:hover {border-color: #0544de;}
.blog-sidebar {
  width: 25%;
  height: 25vh;
  min-height: 200px;
  overflow: auto;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.blog-inner {
  width: 60%;
  height: 200vh;
  min-height: 1000px;
  display: flex;
  flex-direction: column;
}

.blog-inner,
.blog-sidebar {
  border: 5px solid #222;
  background-color: white;
  border-radius: 10px;
  color: #222;
  padding: 15px;
}

.blog-outer {
  display: flex;
  justify-content: space-between;
  overflow:visible;
}
.blog-social{flex-grow: 1 !important;
  flex-basis: 50px; align-self: start;
  position: sticky;
  --offset: 2rem;
  top: var(--offset);
}
.post-share{ width:100px; float:right;}
.post-share li a:hover{ background-color: #f7f7f7;}
  
.s-icon .svg-icon {width: 1em;height: 1em; font-size: 25px;; }
  
.s-icon .svg-icon path,  .svg-icon polygon,  .svg-icon rect {	fill: #000; }
  
.s-icon .svg-icon circle {	stroke: #4691f6;	stroke-width: 1;  }

@media only screen and (max-width: 600px) {
	.primary-menu > li{ width: 100%;}

}
@media only screen and (max-width: 768px) {
	.mobile-hide{ display:none; visibility:hidden;}
}
.menu-btn a{ width:75px; display: block; -webkit-border-radius: 5px; border-radius: 5px;}
.menu-btn svg{ width: 16px; fill:#ffffff;}


